* {
  box-sizing: border-box;
}

p {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  padding: 0 40px;
  max-width: 1280px;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
  font-family: "Montserrat", sans-serif;
}

.router {
  display: flex;
  flex-direction: column;
  padding: 32px;
  gap: 20px;
  list-style: none;
}

.router a {
  text-decoration: none;
}

.btn-back {
  padding: 32px;
  margin: 0;
}

.btn-back .btn {
  text-decoration: none;
}

/* TASK-1 */

#categories {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 392px;
  list-style: none;
  margin: 20px auto;
  padding: 0;
}

#categories .item {
  border-radius: 8px;
  padding: 16px;
  gap: 16px;
  background-color: #f6f6fe;
  width: 100%;
}

#categories .item h2 {
  padding: 0;
  margin: 0 0 16px 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.4px;
}

#categories .item ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
  list-style: none;
  padding: 0;
  max-width: 360px;
}

#categories .item ul li {
  width: 100%;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04px;
  color: #2e2f42;
  border: 1px solid #808080;
  padding: 8px 16px;
  border-radius: 4px;
}

/* TASK-2 */

.gallery {
  display: flex;
  gap: 24px;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

.gallery img {
  width: 360px;
  height: 300px;
  object-fit: cover;
  display: block;
}


/* TASK-3 */

.name-input {
  width: 100%;
  max-width: 360px;
  height: 40px;
  padding: 14px 18px;
  border: 1px solid rgba(128, 128, 128, 1);
  border-radius: 4px;
  background-color: transparent;
  color: #212121;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

.name-input::placeholder {
  font-family: "Montserrat", sans-serif;
  color: rgba(46, 47, 66, 1);
}

#t3-h2 {
  color: #2e2f42;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0.96px;
}

/* TASK-4 */

.login-form{
  gap: 8px;
  color: rgba(46, 47, 66, 1);
}

.login-form,
.login-form label {
  display: flex;
  flex-direction: column;
}

.login-form label {
  font-weight: 400;
  gap: 8px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.64px;
}

.login-form button {
  max-width: 80px;
  height: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.64px;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(78, 117, 255, 1);
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  margin-top: 8px;
}

/* TASK 5 */

.widget {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.widget p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.64px;
}

.change-color {
  width: 100% auto;
  height: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.64px;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(78, 117, 255, 1);
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  margin-top: 8px;
}

/* TASK 6 */

#controls,
#boxes {
  align-items: center;
  justify-content: space-between;
  background-color: rgba(246, 246, 254, 1);
  padding: 32px;
  border-radius: 8px;
  margin: 0 auto;
}

#boxes {
  display: none;
  flex-wrap: wrap;
}

#controls {
  display: flex;
  margin-bottom: 8px;
  max-width: 486px;
}

#controls button {
  width: 120px;
  height: 40px;
  border: none;
  border-radius: 8px;
  color: rgba(255, 255, 255, 1);
}

#controls input {
    width: 100%;
  max-width: 150px;
  height: 40px;
  padding: 14px 18px;
  border: 1px solid rgba(128, 128, 128, 1);
  border-radius: 8px;
  background-color: transparent;
  color: #212121;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

.t6-b1 {
  background-color: rgba(78, 117, 255, 1);
}

.t6-b2 {
  background-color: rgba(255, 78, 78, 1);
}